

.association-section h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    
    margin-bottom: 20px;
}


.association-section {
    padding: 60px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.association-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.association-section-lyst__container {
    list-style: none;
    padding-left: 0;
    max-width: 600px;
    width: 100%;
    flex: 1 1 45%; 
}


.association-section-lyst__container li {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    
   
}

.association-section-lyst__container li img {
    width: 12px;
    height: 12px;
    margin-top: 6px; 
    flex-shrink: 0;
    margin-right: 10px;
    
}
.association-section-lyst__container a:hover {
    color: cornflowerblue;

}

.association-section-lyst__container li a {
    display: flex;
    align-items: flex-start; 
    gap: 10px; 
    text-decoration: none; 
    color: inherit; 
  }
  
  .association-section-lyst__container li a img {
    flex-shrink: 0; 
    margin-top: 5px; 
  }

  @media (max-width: 700px) {
    .association-section-container {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    
    }
  
    .association-section-lyst__container {
      max-width: 100%;
      flex: 1 1 100%;
      margin-bottom: 4px;
    }
  
    .association-section h1 {
      text-align: start ;
      font-size: 22px;
    }
   
  }
  
