
.benefit-itemings {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    text-wrap: wrap;
  }

  .work-schedule {
    background: #f8f9fc;
    color: #1A7DF0;
    padding: 15px;
    border-radius: 12px;
    margin: 20px 0;
    text-align: center;

    .for_oclock {
      font-size: 32px;
      margin: 0;
      font-weight: 400;

      &:last-child {
        font-size: 32px;
        font-weight: 500;
        color: #1A7DF0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .btn-for-gum {
    width: 100%;
    height: 100%;
  }
  .text-for-gumanitaries {
    font-size: 20px;
  }

  .benefitis-box {
    border-radius: 45px;
    width: fit-content;
    height: fit-content;
    padding: 56px 56px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

.benefitis-box {
  background-color: #FFE711;
  color: #000;
}

  .button_for_membership {
    justify-content: start;
    align-items: center;
  }

 .hub_title {
  display: flex;
  justify-content: center;
    font-size: 42px;
    line-height: 100%;
 }
 
 .hub_text {
  display: flex;
  gap: 20px;

 }

 .hub_text p {
  max-width: 710px;
  line-height: 150%;

 }
 .hub__list {
  max-width: 710px;
  position: relative;
  padding-left: 40px; 
  display: inline-block;
  
 }

 .hub__list li::before {
  content: "";
    position: absolute;
    left: 0;
    margin-top: 8px;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    background-image: url("../image/blue-dot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }

 @media (max-width: 700px) {
  .hub_section.container {
    padding: 20px;
  }

  .hub_title {
    font-size: 28px;
    text-align: left;
  }

  .hub_text {
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    text-align: left;
  }

  .hub_text p,
  .hub__list {
    max-width: 100%;
    width: 100%;
  }

  .hub__list {
    align-self: flex-start;
    margin-left: 0 ;
  padding-left: 0 ;
  
  }

  .hub__list li {
    margin-left: 30px;
  }
  

  
}
