.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 100px;
    row-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1154px;
    font-family: 'Raleway', sans-serif;
    text-wrap: wrap;
    
    
  }
  
  .stat-item {
    text-align: left;
  }
  
  .stat-item h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--secondary_3);
    line-height: 100%;
    
  }
  
  .stat-item p {
    font-size: 18px;
    color: var(--secondary_3);
    line-height: 150%;
    margin: 0;
  }

  